.payment{
    padding: 100px 0;
}
.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top { /*icon nằm ngang và có thanh bên trên*/
    height: 2px; /*Đặt chiều cao của thanh ngang.*/
    width: 70%; /*Đặt chiều rộng của thanh ngang.*/
    background-color: #dddddd; /*Đặt màu nền cho thanh ngang.*/
    display: flex; /*Sử dụng flexbox để sắp xếp các icon theo chiều ngang.*/
    justify-content: space-between; /*Căn các icon cách đều nhau.*/
    align-items: center; /* Căn giữa các icon theo chiều dọc.*/
    margin: 50px 0 100px; /*Tạo khoảng cách trên, dưới và dưới thanh ngang.*/
}
.payment-top-item { /* tạo vòng trong bao quanh icon */
    width: 40px; /*Đặt chiều rộng của các icon.*/
    height: 40px; /*Đặt chiều cao của các icon.*/
    border-radius: 50%;/*Tạo hình tròn cho các icon.*/
    border: 1px solid #dddddd;/*Thêm viền xung quanh các icon.*/
    display: flex;/*Sử dụng flexbox để căn giữa icon bên trong.*/
    align-items: center;/*Căn giữa icon theo chiều dọc.*/
    justify-content: center;/*Căn giữa icon theo chiều ngang.*/
    background-color: #fff;/*Đặt màu nền cho các icon.*/
}
.payment-top-item i { /* đổi màu icon */
    color: #dddddd
}
.payment-top-payment { /* đổi màu vòng cung quanh icon */
    border: 1px solid #0db7ea;
}
.payment-top-payment i { /* đổi màu icon */
    color: #0db7ea;
}
.payment-content-left{
    width: 60%;
}
.payment-content-right{
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;
}
.payment-content-left p,label{
    font-size: 12px;
    font-family: var(--main-text-font);
}
.payment-content-right-button{
    display: flex;
    padding: 12px 0 ;
    border-bottom: 1px dashed #dddddd;

}
.payment-content-right-button input{
    height: 30px;
    width: 200px;
    margin-right: 10px;
    padding-left: 12px;
}
.payment-content-right-button button{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.payment-content-right-mnv{
    margin-top: 20px;
}
.payment-content-right-mnv select{
    height: 30px;
    width: 100px;
    color: #75758A;
    padding-left: 12px;
}
.payment-content-right-payment{
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.payment-content-right-payment button{
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid black;
}
.payment-content-right-payment button:hover {
    background-color: black;
    color: #fff;
}